/*
1. definitions;
2. HTML basics
3. styles
4. movies
5. footer

theme colors: https://coolors.co/114b5f-456990-e4fde1-f45b69-6b2737
*/

:root {
  --font-size: 14px;
  --primary-color:  #394648;
  --secondary-color: #456990;
  --highlight-color: #F45B69;
  --highlight-color-hover: #6B2737;
  --bg-color: #fff;
  --bg-secondary-color: #eeeeee;
  --max-width: 1140px;
}

/* 2. HTML basics*/

clearfix::after {content: ""; clear: both;display: block;}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: calc(var(--font-size)*1.1);
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3{
  font-family: 'Barlow';
  text-align: center;
  line-height: 150%;
}

h1 {
  font-size: calc(var(--font-size)*2.8);
  font-weight: 800;
}

h1 span {
  color: var(--highlight-color);
  display: block;
  font-size: calc(var(--font-size)*1.2);
  margin-top: -64px;
}

@media (max-width: 420px) {
  h1 span {
    margin-top: -20px;
  }
}

h2 {
  color: var(--primary-color);
  font-size: calc(var(--font-size)*1.25);
  padding: 1rem; 
  vertical-align: middle;
}

h3 {
  color: var(--secondary-color);
  font-size: calc(var(--font-size)*1.25);
  font-weight: 800;
  padding: 1rem; 
}

@media (min-width: 750px) {
  h1 { font-size: calc(var(--font-size)*6); }
  h1 span { font-size: calc(var(--font-size)*2); }
  h2, h3  { font-size: calc(var(--font-size)*2.8); }
}

@media (max-width: 970px) {

  hr {display: none;}
}


a {
  color: var(--highlight-color);
  font-family: 'Barlow';
  text-decoration: none;
}

a:hover {
  color: var(--highlight-hover-color);
}

header, main {
  /*max-width: var(--max-width);
  margin: 0 auto;*/
  margin-bottom: 12px;
}

main {
  margin: 0 auto;
  max-width: var(--max-width);
}

@media (max-width: 640px) {

  p { padding: 0 1rem;}
}

/* 3 My styles */

.beers-404 {
  padding: 60px 0;
  font-size: calc(var(--font-size)*2);
  text-align: center;

}

.beers-404 span{
  color: var(--highlight-color)!important;
  display: block;
}

.text-centered {
  text-align: center;
}

.text-highlight {
  color: var(--highlight-color);
  font-weight: 600;
}

.text-grey {
  color: darkgrey;
  font-weight: 600;
}

.pt-10 {
  padding-top: 10vh;
}

.div-presentation {
  background-color: var(--bg-secondary-color);
  padding-bottom: 60px;
}

.div-presentation p{
  padding-top: 32px;
  margin: 0 auto;
  max-width: var(--max-width);
  font-size: calc(var(--font-size)*1.3);
  text-align: justify;
}

.div-presentation p span{
  font-weight: bold;
}

.div-presentation p:last-child {
  text-align: right;
  font-size: calc(var(--font-size)*1.5);
}

@media (max-width: 420px) {
  .div-presentation p, .div-presentation p:last-child {
    font-size: calc(var(--font-size)*1);
  }
}

.div-presentation img{
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
}

@media (min-width: 640px) {
  .container {
    align-items: stretch;
    align-self:  center;
    flex-direction: row;    
  }

  .container-color {
    background-color: var(--secondary-color);
  }

  .container div {
    flex: 0.5;
    padding: 1.5rem;
  }
}

.a-right {
  text-align: right;
  padding-right: .5rem
}

ul li {
  display:inline;
}

ul#social-list li {
  font-size: calc(var(--font-size)*1.75);
  padding-right: 1rem;
}

/* 5. footer */

footer {
  background-color: var(--primary-color);
  color: var(--bg-color);
  margin-top: 1.5rem;
}

footer section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media (min-width: 640px) {
   footer section {
    flex-direction: row;
  }
}

footer section div {
  flex: 1;
  padding: 1.5rem;
}

footer p:last-child {
  text-align: center;
  color: yellow;
  margin: 1rem 0;
}

/* animations */
.animate-left {
  position: relative;
  animation: animateleft 1.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.animate-right {
  animation: animateright 1.4s;
  position: relative;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

.blink_me {
  animation: blinker 1s linear 3;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*  */

/* prevent blue border on focus 
input:focus,
button:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}*/