.button, .button.search, .button.primary, .button.secondary {
  background-color: var(--bg-color);
  border-radius: 2px;
  border: 1px solid var(--highlight-color);
  padding: 5px 10px;
  color: var(--highlight-color);
  transition: all linear 0.3s;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}
.button:hover {
  background-color: var(--highlight-color);
  color: var(--bg-color);
}

.button.search {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
