.detail-card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.detail-card header {
  padding: 3.5em 1em 1.5em 1em;
  margin-bottom: 20px;
  border-bottom: 1px solid #bebebe;
}

.detail-card header h2 {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.detail-card header h3 {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

/* .detail-card-content {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
} */

.detail-card .detail-card-content .detail-card-content-image {
  width: 30%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.detail-card .detail-card-content .detail-card-content-image img {
  max-height: 320px;
  width: auto;
}

.detail-card .detail-card-content .detail-card-content-text {
  width: 70%;
  height: 100%;
  color: var(--primary-color) !important;
}

.detail-card .detail-card-content {
  box-sizing: border-box;
  padding: 0 1em 1em 1em;
  display: flex;
  justify-content: space-between;
  
}

.detail-card .detail-card-content .detail-card-content-text .rating-container {
  text-align: right;
  padding-bottom: 24px;
  font-size: 1.1rem;
}


@media (max-width: 420px) {

  .detail-card header h2 {
    font-size: 2.5rem;
  }

  .detail-card header h3 {
    font-size: 1.2rem;
  }

  .detail-card .detail-card-content .detail-card-content-image img {
    max-height: 220px;
    width: auto;
  }

  .detail-card .detail-card-content .detail-card-content-text .rating-container {
    font-size: 1rem;
  }

}

/* commets */
.detail-card h2 {
  color: var(--secondary-color);
  font-size: 1.8rem;
}
.detail-card .comment-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.detail-card .comment-list .list-item {
  border-bottom: 1px solid var(--bg-primary-color);
  background-color: var(--bg-secondary-color);
  margin-bottom: 12px;
}

.detail-card .comment-list .list-item p{
    font-style: italic;
    padding: 20px;
}

.detail-card .comment-list .list-item span {
  font-size: .6rem;
}

/* .detail-card .comment-list p {
  font-style: italic;
  padding: 20px 0;
} */

.detail-card .content,
.detail-card .comment-input,
.detail-card .comment-list {
  width: 70%;
  margin: 20px auto;
}

.detail-card .comment-input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.detail-card .comment-input label {
  font-weight: bold;
}

.detail-card .comment-input .input {
  width: 400px;
  margin: 5px 0;
  height: 32px;
  padding: 4px 6px;
}

@media (max-width: 420px) {

  .detail-card .content,
  .detail-card .comment-input,
  .detail-card .comment-list {
    margin: 10px auto;
    width: 80%;
  }

  .detail-card .comment-input .input {
    width: 300px;
  }
}