main.home-page {
  background: #c3c3c3;
  min-height: 100vh;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: minmax(max-content, 50px) 1fr;
  grid-template-areas: 
    ". filter ."
    ". main .";
}

.beer-section {
  grid-area: main;
}
.beer-section > div {
  margin: 20px 0;
}

@media (min-width: 992px) {
  .beer-section > div {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .beer-section {
    margin: 60px 0 40px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }
}