
/* imgs grid */

.container-pics {
  margin: auto;
  border: var(--bg-color) solid 5px;
  background: var(--bg-color);
}

.container-pics h3 {
  font-size: calc(var(--font-size)*2);
  padding: calc(var(--font-size)*2.5);

}

/* make images fill their container*/
.container-pics img {
  max-width: 100%;
}

.container-pics img:hover {
  box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 1);
  border: 1px solid var(--bg-color);
  transform: scale(1.5);
}

/* CSS Grid*/
.img-grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  text-align: center;
}

/* Media Query for changing grid on bigger screens*/

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* movies grid  
   fuente: https://codepen.io/d_coll/pen/mpoMJw
*/
.container-movies {
  margin: auto;
  border: var(--bg-color) solid 5px;
  background: var(--bg-color);
}

.container-movies h3 {
  font-size: calc(var(--font-size)*2);
  padding: calc(var(--font-size)*2.5);

}

/* make images fill their container*/
.container-movies img {
  max-width: 100%;
}


/* CSS Grid*/
.movies-grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  text-align: center;
}

/* Media Query for changing grid on bigger screens*/

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .movies-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movie {
    position: relative;
}

.movie-info {
  bottom: 0;
  background: rgba(255, 255, 255, .4); /* var(--secondary-color);*/
  display: none;
  position: absolute;
  text-align: left;
  text-shadow: 1px 1px 2px #fff; 
}

.movie-info span{
  color: var(--highlight-color);
  font-size: calc(var(--font-size)*1.1);
}

.movie:hover {
  /*border: 1px solid var(--bg-color);*/
  transform: scale(1.2);
  z-index: 1;
}

.movie:hover .movie-info {
  display: inherit;
  bottom: 0;
  padding: 24px;
  position: absolute;
  width: inherit;
}

.movie:hover img {
  box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 1);
  transform: scale(1.2);
}

/* Ver https://codepen.io/shimdim/pen/NjyNNb; */